.about_section {
    background: var(--beige);
    place-items: center;
}

.about_section_cont {
    grid-template-columns: 60% 40%;
    /* grid-template-columns: repeat(2, 1fr); */
    /* spliting the section into two equal parts or 1fr 1fr here 2 means it repeats twice it can be 3 times of one fraction(1fr)*/
    place-items: center;
    max-width: 1200px;
    padding: 1.5rem;
    gap: 100px;
    text-align: justify;
}

.about_sub_section {
    flex-direction: column;
    gap: 40px;
}

.sent {
    font-size: 18px;
}

.sent_me {
    font-size: 16px;
}

.about_header {
    font-size: 20px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--purple);
}

.protractor {
    align-items: center;
    gap: 10px;
}

/*media queries*/
@media(max-width: 500px) {
    .about_section_cont {
        grid-template-columns: 1fr;
        padding: 1.5rem;
        height: max-content;
        text-align: center;
        gap: 40px;
    }
    .protractor {
        justify-content: center;
    }
    
}