.nav_container {
    background: var(--purple);
    color: var(--white);
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem 1.5rem;
}

.logo {
    font-size: 20px;
}

.nav-ul {
    list-style: none;
    gap: 20px;
}

.nav-link {
    padding: .3rem 1rem;
}

.active {
    background-color: var(--beige);
    border-radius: 20px;
    color: var(--purple)
}

@media (max-width: 768px){
    .nav_container{
        justify-content: center;
        flex-direction: column;
    }
    .logo{font-size: 16px;}
}